<h1>Katastar krovova</h1>

<ngui-map zoom="19" center="45.568718554179675, 19.635907372362908" scrollwheel="false">
  <polygon *ngFor="let krov of krovovi" [editable]="true"
           [paths]="krov.path"
           [strokeColor]="'#FFC107'"
           [strokeOpacity]="0.8"
           [strokeWeight]="2"
           [fillColor]="'#FFC107'"
           [fillOpacity]="0.35" (click)="clicked(krov)"></polygon>
</ngui-map>


<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Solarni potencijal krova</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Raspoloziva povrsina krova je {{pov}}m2<br>
        Raspoloziva snaga je {{snaga}}kW<br>
        Ocekivani prinos je {{prinos}}kWh
      </div>
    </div>
  </div>
</div>
